**variables**

- variables are used to store the values

- variables can change their values

- varyyyy: varying

In [1]:
number=100
number

# 100 is stored in a variable called number

100

In [2]:
number=200
number

# latest value of 200 is stored in a variable called number

200

sailaja is learning python

code mode is used to run a code


type sa

enter tab

you can see the names which are starting with sa

In [3]:
NUMBER=200
NUMBER

200

In [4]:
NUMber=300
NUMber

300

In [5]:
number123=400
number123

400

In [6]:
123number=500
123number

# variables does not have numbers as prefix
# variable should not start with numbers

SyntaxError: invalid decimal literal (140469312.py, line 1)

In [7]:
number*one=500
number*one

# variables does not have spl characters

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2910871131.py, line 1)

In [9]:
number_1=600
number_1

# variables can have underscores

600

In [12]:
_= 900
_

# only underscore can represent as variables

900

- variables are case sensitive

- variables can represent as capital letters

- variables can represent as small letters

- variables can have both combinations

- python will consider latest value

- variables does not start with numbers

- variables can have numbers at the last

- variables doesnot contain any special characters except underscore

- variables doesnot contain any space between the letters  i.e., number one

- only underscore can use as variables

- keywords or reserved words will not use as variable: if, else

In [14]:
number_123_one=200
number_123_one

200

In [15]:
number1=200
number1=300
number1=400
number1

400

**data types**

- In python we have many data types 

    - integer

    - float

    - string

    - boolean

**INTEGER**

- In python no need to mention a data type like c

- it will consider the data type automatically

In [ ]:
number = 100
# in order to check the type of a variable we will use
# in built function calles as type

In [16]:
type(number)

int

In [17]:
type(100)

int

In [18]:
type(100.5)

float

- In maths we have different types of representations available

- The following number systems are

    - Binary

    - Octa

    - Decimal

    - Hexa

**Binary**

- binary has bi which indicates two

- we have total 0 to 9 digits to represent any number

- from there we have to take only first two digits i.e.; 0 and 1

- example :0b110, 0B00110

- wrong representation is; 0b002

In [21]:
num=0b111
num

7

In [20]:
0b1001

9

In [22]:
0b1101010010101

6805

In [23]:
b00

NameError: name 'b00' is not defined

In [24]:
0b

SyntaxError: invalid binary literal (3279687064.py, line 1)

In [25]:
0b1000000000

512

#digital

4   2   1

0   0   0      0

0   0   1      1

0   1   0      2

0   1   1      3 

1   0   0      4

1   0   1      5 

1   1   0      6

1   1   1      7

**Octa**

- Octa means 8

- we have total 0 to 9 digits to represent any number 0,1,2,3,4,5,6,7,8,9

- from there we will take only starting 8 digits i.e.;0 to 7

- example :0o123 , 0o567 , 0o10006

- wrong representation is : 0o786 7 & 6 are octa but 8 doesnt include in octa

**Representation**

0  0  0  0    0

0  0  0  1    1

0  0  0  2    2
  
0  0  0  3    3

0  0  0  4    4

0  0  0  5    5

0  0  0  6    6

0  0  0  7    7

0  0  1  0    8

0  0  1  1    9

0  0  1  2    10

0  0  1  3    11

0  0  1  4    12

0  0  1  5    13

0  0  1  6    14



0  0

In [1]:
0o785

SyntaxError: invalid digit '8' in octal literal (2267749663.py, line 1)

- A good developer will understand the errors easily

- almost we will get 20 types

- we will focus both on output as well s errors

In [2]:
0o123

83

In [3]:
0O456

302

**Hexa**

- hexa means 16

- we have total 0 to 9 digits to represent any number

- after 9 we will use A to F
  
- example :exa 0x123 , 0xABC , 0x9adB0
- 
wrong represenion : oxeg, 0xarcwe

In [4]:
0xabc

2748

In [5]:
0xf

15

**Float Values**

In [6]:
num=10.5
type(num)

float

In [7]:
type(10) , type(10.5)

(int, float)

In [8]:
type(1/2)

float

In [9]:
10e1, 10e2, 10e3

(100.0, 1000.0, 10000.0)

In [10]:
10e1

100.0

In [11]:
10e2

1000.0

In [12]:
10e3

10000.0

In [13]:
10e4

100000.0

In [14]:
10
20

20

10 , 20

In [15]:
10,20

(10, 20)

In [16]:
print(10)
print(20)

10
20

IN jupyter notebok by default last value will print

if you want to print all the answers we have to apply print statement

In [17]:
10e1 
10e2
10e3
10e4

100000.0

In [19]:
10e1, 10e2 ,10e3, 10e4

(100.0, 1000.0, 10000.0, 100000.0)

In [20]:
print(10e1) 
print(10e2)
print(10e3)
print(10e4)

100.0
1000.0
10000.0
100000.0

In [21]:
10e+1

100.0

In [22]:
10e+2

1000.0

In [23]:
10e-2

0.1

In [24]:
10E2

1000.0

In [25]:
10e-1

1.0

In [26]:
10e-2

0.1

In [27]:
10e-3

0.01

In [28]:
10e-4

0.001

In [29]:
print(10e-1)
print(10e-2)
print(10e-3)

1.0
0.1
0.01

- In machine learning we often see the values in exponential format

- in some cases we need to search for zero value

- In ML with python we rarely see exact an answer 0.0

- instead of 0.0 it will display as example : 1.2345e-17

In [30]:
1.2345e-17

1.2345e-17

**Strings**

- strings represents english characters generally

- strings represents with quotes

    - single quotes

    - double quotes

    - triple quotes

In [37]:
str1 ='sailaja'
str1

'sailaja'

In [38]:
type(str1)

str

In [34]:
str2="sailaja"
str2

'sailaja'

- We can represent in any way but python will give in single quotes only

In [39]:
print(str1)

sailaja

In [36]:
print(str2)

sailaja

- When we apply print on string , it will display without quotes

In [41]:
str3='abc123'
type(str3)

str

In [44]:
type(10) , type(10.5) , type(123) , type('apple')

(int, float, int, str)

- Any data type or any value is provided by quotes means

- It becomes a string only

- String always in red colour

- variables always in black colour

- keywords or numbers always in green colour

In [49]:
str4="I like 'python'"
print(str4)

I like 'python'

In [50]:
str5='I like "python"'
print(str5)

I like "python"

- If we want to highlight any word

- Represent entire string in single quotes , highlighted word in double quotes and vicev ersa

In [51]:
str1='hai
    how are you'

SyntaxError: unterminated string literal (detected at line 1) (4192490924.py, line 1)

In [2]:
str2=" hai
    how are you "

IndentationError: unexpected indent (597370868.py, line 2)

In [4]:
str1=""" hai
    how are you
    im good"""
str1

' hai\n    how are you\n    im good'

In [7]:
print(str1)

 hai
    how are you
    im good

- triple quotes is used for writing multiline comments

- this is called as **DOCSSTRING**

- In order to write a story in jupyter notebook we have mark down mode

- but other platforms like vscode pycharm dont have markdown mode

- then how can we write a story : by using triple quotes

- if any person writing something using triple quotes, which indicates that user is trying to convey the information

- This process is called docstring

**BOOLEAN**

- computer takes the value in binary format

- computer gives the answer in boolean format

    - True

    - False
  
- True indicates 1
 
- False indicates 0

In [55]:
val=True
type(val)

bool

In [56]:
val1=False
type(val1)

bool

In [58]:
true='True'
TRUE=True
type(true), type(TRUE)

(str, bool)

In [60]:
type(10), type(10.5), type('apple'), type(True)

(int, float, str, bool)

In [63]:
a=10
b=10.5
c=True
type(a,b,c)

TypeError: type.__new__() argument 1 must be str, not int

In [64]:
a=10
b=10.5
c=True
type(a)
type(b)
type(c)

bool

In [65]:
a=10
b=10.5
c=True
type(a),type(b),type(c)

(int, float, bool)