**Print statements**

- print is an inbuilt function, to see the answers

- In jupyter notebook we can see latest value without using print

- if you want to see all the values we need to use print

- In VScode , pycharm there is no mark down mode option

- if we want to see any answer we need to use print statement

In [1]:
num1=100
num2=200
num1
num2

200

In [2]:
print(num1)
print(num2)

100
200

In [10]:
print(num1,num2)
print(10,20,30)
print('hello',"bye")
print('hello','bye',num1, num2, 10,20,30)

100 200
10 20 30
hello bye
hello bye 100 200 10 20 30

In [4]:
num1, num2

(100, 200)

In [5]:
print(10,20,30)

10 20 30

In [12]:
a=100
b=200
c=a+b
print('the addition of',a,'and',b,'is',c)

the addition of 100 and 200 is 300

In [15]:
name='sailaja'
city='suryapet'
age=30
print('my name is',name,"I'm",age,'years old',"and I'm from",city)

my name is sailaja I'm 30 years old and I'm from suryapet

**Format Method**

In [16]:
a=100
b=200
c=a+b
# how you want to write the print
# the addition of 10, 20 is 30
print("the addition of 10,20 is 30")
print("the addition of {},{} is {}")
print("the addition of {},{} is {}".format(a,b,c))

the addition of 10,20 is 30
the addition of {},{} is {}
the addition of 100,200 is 300

In [18]:
print("my name is sailaja, I'm 30 years old and I'm from suryapet")
print("my name is {}, I'm {} years old and I'm from {}")
print("my name is {}, I'm {} years old and I'm from {}".format(name, age, city))

my name is sailaja, I'm 30 years old and I'm from suryapet
my name is {}, I'm {} years old and I'm from {}
my name is sailaja, I'm 30 years old and I'm from suryapet

In [19]:
a=10
b=20
add=a+b
sub=a-b
mul=a*b
div=a/b
print('the addition of a and b is add')
print('the addition of {} and {} is {}'.format(a,b,add))
print('the subtraction of a and b is sub')
print('the subtraction of {} and {} is {}'.format(a,b,sub))
print('the multiplication of a and b is mul')
print('the multiplication of {} and {} is {}'.format(a,b,mul))
print('the division of a and b is div')
print('the division of {} and {} is {}'.format(a,b,div))

the addition of a and b is add
the addition of 10 and 20 is 30
the subtraction of a and b is sub
the subtraction of 10 and 20 is -10
the multiplication of a and b is mul
the multiplication of 10 and 20 is 200
the division of a and b is div
the division of 10 and 20 is 0.5

**F string method**

In [21]:
a=10
b=20
c=a+b
print('the addition of 10 and 20 is 30')
print('the addition of a and b is c')
print('the addition of {a} and {b} is {c}')
print(f'the addition of {a} and {b} is {c}')

the addition of 10 and 20 is 30
the addition of a and b is c
the addition of {a} and {b} is {c}
the addition of 10 and 20 is 30

In [31]:
print(f"my name is {name}, I'm {age} years old and I'm from {city}")

my name is sailaja, I'm 30 years old and I'm from suryapet

In [2]:
name='sailaja'
city='suryapet'
age=30
print(f"my name is {name} I'm {age} years old and I'm from {city} ")

my name is sailaja I'm 30 years old and I'm from suryapet

In [3]:
a=100
b=200
add=a+b
sub=a-b
mul=a*b
div=a/b
print(f'the addition of {a} and {b} is {add}')
print(f'the subtraction of {a} and {b} is {sub}')
print(f'the multiplication of {a} and {b} is {mul}')
print(f'the division of {a} and {b} is {div}')

the addition of 100 and 200 is 300
the subtraction of 100 and 200 is -100
the multiplication of 100 and 200 is 20000
the division of 100 and 200 is 0.5

In [ ]:
print(10)
print(20)

**ENd Operator**

In [33]:
print(10)
print(20)
#using two print statements
# we need to write 10,20

10
20

In [39]:
print(10, end=' & ')
print(20)

10 & 20

In [44]:
print(10, end=' , ')
print(20, end=' & ')
print(30)

10 , 20 & 30

In [ ]:
# using one print statement
#10---->20---->30

**Separator**

In [47]:
print(10,20,30,sep='--->')
# separating all the values inside print statement
print(10,20,30,sep='&')

10--->20--->30
10&20&30

In [51]:
print(10, end=' + ')
print(20, end=' = ')
print(30,'.',sep='')

10 + 20 = 30.

In [53]:
print(10,20,sep='+',end='=')
# separating all the values inside print statement
# end will join multiple print ststement values
print(30)

10+20=30

- Format Method

- F String Method

- Sep

- End

In [ ]:
# take three numbers and print the avg statement using format and f string method

In [8]:
n1=10
n2=20
n3=30
avg=(n1+n2+n3)/3
print("the average of {}, {} & {} is {}".format(n1,n2,n3,avg))
print(f"the average of{n1}, {n2} & {n3} is {avg}")

the average of 10, 20 & 30 is 20.0
the average of10, 20 & 30 is 20.0